.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.6);
    z-index: 0;
}
/* .m-login__container {
    background: rgba(0, 0, 0,.8);
    border-radius: 40px;
    padding: 40px 40px 0 40px;
    border: 4px solid rgba(255,255,255,.0);
    z-index: 1;
} */
.index {
    z-index: 1;
}
.li-wmess {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/* .m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control {
    background: rgba(255,255,255,.5);
    border: 2px solid white;
} */
.li-input {
    background: rgba(255,255,255,.3);
    color: white;
    border-radius: 40px;
    border: none;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    outline: none;
    text-align: center;
}
.m-input-icon .m-input-icon__icon i {
    color: white;
}

.li-input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}
.li-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(255, 255, 255);
   opacity:  1;
}
.li-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(255, 255, 255);
   opacity:  1;
}
.li-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
}